# Title = KOCoSta — Károly Ozsvárt's Coding Standards
# Subtitle = C# .NET development .editorconfig file
# Version = 0.0.1
# Source = https://github.com/arphox/KOCoSta/blob/main/dotnet/.editorconfig

# C# files
[*.{cs,csx,cake}]
################################################################################
# File-scoped namespaces
# ID = 031ad72c773047b8be67d6e8ed8eccb9
################################################################################
# Namespace declaration preferences (IDE0160 and IDE0161)
csharp_style_namespace_declarations = file_scoped:warning

# IDE0160: Use block-scoped namespace
dotnet_diagnostic.IDE0160.severity = none

# IDE0161: Use file-scoped namespace
dotnet_diagnostic.IDE0161.severity = warning
################################################################################

################################################################################
# 'using' directive placement
# ID = 2e10dd93856c44aab3e89c4c1c9da0e9
################################################################################
# IDE0065: 'using' directive placement
csharp_using_directive_placement = outside_namespace:warning
dotnet_diagnostic.IDE0065.severity = warning

# SA1200: UsingDirectivesMustBePlacedCorrectly
# Turned off, because checked by IDE0065
dotnet_diagnostic.SA1200.severity = none
################################################################################